
.title {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search-line {
    max-width: 800px;
    margin: 0 auto;
}

.search-input {
    margin-right: 15px;
}

.counter {
    color: red;
    margin-left: 10px;
}
.search-btn {
    background-color: blanchedalmond;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 15px;
}
.list > li {
    list-style-type: none;
}
.main {
    max-width: 800px;
    margin: 0 auto;
    background-color: bisque;
}